@using SkyCast.Models

@{
	WeatherReport weatherReport = TempData["weatherReport"] as WeatherReport;
	GeoReport geoReport = TempData["geoReport"] as GeoReport;
	string location = TempData["location"] as String;
}

@if (weatherReport != null && geoReport != null)
{
	DateTime currentTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
	currentTime = currentTime.AddSeconds(weatherReport.currently.time).ToLocalTime();
	Result result = geoReport.results.First();

	<div class="pannel outer-pannel">
		<h1 class="center"><a id="addressLink">@result.formatted_address</a></h1>
		<ul id="addressContent" class="pannel inner-pannel hidden center bare">
			<li><h4>@result.geometry.location_type.ToLower() location</h4></li>
			<li>(@result.geometry.location.lat, @result.geometry.location.lng)</li>
			<li id="time">@currentTime.ToString()</li>
		</ul>
	</div>

	<div class="pannel outer-pannel">
		<h2><a id="currentLink">Current Weather</a></h2>
		<ul id="currentContent" class="pannel inner-pannel short large bare">
			<li id="summary">@weatherReport.currently.summary</li>
			<li id="temperature">Temperature: @weatherReport.currently.temperature°</li>
			<li id="feelsLike"><h4>(feels like @weatherReport.currently.apparentTemperature°)</h4></li>
			<li id="precipIntensity">Precipitation: @weatherReport.currently.precipIntensity in.</li>
			<li id="humidity">Humidity: @weatherReport.currently.humidity%</li>
			<li id="cloudCover">Cloud Cover: @weatherReport.currently.cloudCover%</li>
			<li id="windSpeed">Wind Speed: @weatherReport.currently.windSpeed mph.</li>
		</ul>
	</div>

	<div class="pannel outer-pannel">
		<h2><a id="dailyLink">Daily Forecast</a></h2>
		<ul id="dailyContent" class="hidden short bare">
			@foreach (Datum2 datum in weatherReport.daily.data)
			{
				DateTime time = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
				time = time.AddSeconds(datum.time).ToLocalTime();
				double cloudCover = datum.cloudCover * 100;
				double humidity = datum.humidity * 100;
				<li class="pannel inner-pannel">
					<h4>Weather on @time.ToShortDateString() for @result.formatted_address</h4>
					<ul class="horizontal bare">
						<li class="horizontal" id="summaryDaily_@datum.Id">@datum.summary</li>
						|
						<li class="horizontal" id="temperatureMaxDaily_@datum.Id">Highest: @datum.temperatureMax°</li>
						<li class="horizontal" id="apparentTemperatureMaxDaily_@datum.Id">(feels like @datum.apparentTemperatureMax°)</li>
						|
						<li class="horizontal" id="temperatureMinDaily_@datum.Id">Lowest: @datum.temperatureMin°</li>
						<li class="horizontal" id="apparentTemperatureMinDaily_@datum.Id">(feels like @datum.apparentTemperatureMin°)</li>
						|
						<li class="horizontal" id="precipIntensityDaily_@datum.Id">Precipitation: @datum.precipIntensity in.</li>
						|
						<li class="horizontal" id="humidityDaily_@datum.Id">Humidity: @humidity%</li>
						|
						<li class="horizontal" id="cloudCoverDaily_@datum.Id">Cloud Cover: @cloudCover%</li>
						|
						<li class="horizontal" id="windSpeedDaily_@datum.Id">Wind Speed: @datum.windSpeed mph.</li>
					</ul>
				</li>
			}
		</ul>
	</div>

	<a id="chartLink" class="center">additional information</a>
	<div id="chartContent" class="hidden">
		<span>Hold up! This part of the site is still under construction and won't display the correct data</span>
		<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYmVhZjYwMDQtMTM5Yi00YTA1LWE1ZTctNTY1MjkyZDdlMjNiIiwidCI6IjEwZjc4NzI3LTBjMTgtNDVhZi1iOWVlLTk3ZTk0ZmQ1YmNkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
		@*<canvas id="chart1" width="400" height="400"></canvas>
		<canvas id="chart2" width="400" height="400"></canvas>
		<canvas id="chart3" width="400" height="400"></canvas>
		<canvas id="chart4" width="400" height="400"></canvas>*@
	</div>
	<br />
	<br />
}
else
{
	Session.Remove("query"); // query isn't being displayed
}