@using SkyCast.Models
@using Newtonsoft.Json
@using System.Web.Script.Serialization;

@model ICollection<Query>

@{
	WeatherReport weatherReport = TempData["weatherReport"] as WeatherReport;
	GeoReport geoReport = TempData["geoReport"] as GeoReport;
	string errorMessage = TempData["errorMessage"] as String;
	string location = TempData["location"] as String;
	Query query = Session["query"] as Query;
	ViewBag.Title = "Home Page";
	DateTime now = DateTime.Now;
}

@using (Html.BeginForm("Geolocation", "Home", FormMethod.Post, new { id = "getWeather" }))
{
	<input id="locationInput" type="text" name="location" value="" placeholder="Location" />
	<input id="datetimeInput" type="text" name="dateTime" class="datetimepicker">
	<input type="submit" value="Get Weather Forecast" class="btn btn-primary" />
}

@if (!String.IsNullOrEmpty(errorMessage))
{
	<div id="errorMessage">@errorMessage</div>
}

@if (User.Identity.IsAuthenticated && Model != null)
{
	<div>
		<ul>
			@foreach (Query q in Model)
			{
				<li>
					<div id="location_@q.Id">location: @q.location</div>
					<div id="datetime_@q.Id">location: @q.dateTime</div>
				</li>
			}
		</ul>
	</div>
}

@if (weatherReport != null && geoReport != null)
{
	DateTime currentTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
	currentTime = currentTime.AddSeconds(weatherReport.currently.time).ToLocalTime();
	Result result = geoReport.results.First();

	<div>
		<h2>Geographical Information</h2>
		<ul>
			<li id="fullAddress">formatted_address: @result.formatted_address</li>
			<li id="location_type">location_type: @result.geometry.location_type</li>
			<li id="lat">lat: @result.geometry.location.lat</li>
			<li id="lng">lng: @result.geometry.location.lng</li>
		</ul>
	</div>

	<div>
		<h2>Current Weather for @location</h2>
		<ul>
			<li id="apparentTemperature">apparentTemperature: @weatherReport.currently.apparentTemperature</li>
			<li id="cloudCover">cloudCover: @weatherReport.currently.cloudCover</li>
			<li id="dewPoint">dewPoint: @weatherReport.currently.dewPoint</li>
			<li id="humidity">humidity: @weatherReport.currently.humidity</li>
			<li id="icon">icon: @weatherReport.currently.icon</li>
			<li id="ozone">ozone: @weatherReport.currently.ozone</li>
			<li id="precipIntensity">precipIntensity: @weatherReport.currently.precipIntensity</li>
			<li id="precipProbability">precipProbability: @weatherReport.currently.precipProbability</li>
			<li id="pressure">pressure: @weatherReport.currently.pressure</li>
			<li id="summary">summary: @weatherReport.currently.summary</li>
			<li id="temperature">temperature: @weatherReport.currently.temperature</li>
			<li id="time">time: @currentTime.ToString()</li>
			<li id="uvIndex">uvIndex: @weatherReport.currently.uvIndex</li>
			<li id="windBearing">windBearing: @weatherReport.currently.windBearing</li>
			<li id="windGust">windGust: @weatherReport.currently.windGust</li>
			<li id="windSpeed">windSpeed: @weatherReport.currently.windSpeed</li>
		</ul>
	</div>

	<div>
		<h2>Daily Forecast</h2>
		<ul>
			@foreach (Datum2 datum in weatherReport.daily.data)
			{
				DateTime time = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
				time = time.AddSeconds(datum.time).ToLocalTime();
				<li>
					<h3>Weather on @time.ToShortDateString() for @location</h3>
					<ul>
						<li id="apparentTemperatureMaxDaily_@datum.Id">apparentTemperatureMax: @datum.apparentTemperatureMax</li>
						<li id="apparentTemperatureMinDaily_@datum.Id">apparentTemperatureMin: @datum.apparentTemperatureMin</li>
						<li id="cloudCoverDaily_@datum.Id">cloudCover: @datum.cloudCover</li>
						<li id="dewPointDaily_@datum.Id">dewPoint: @datum.dewPoint</li>
						<li id="humidityDaily_@datum.Id">humidity: @datum.humidity</li>
						<li id="iconDaily_@datum.Id">icon: @datum.icon</li>
						<li id="ozoneDaily_@datum.Id">ozone: @datum.ozone</li>
						<li id="precipIntensityDaily_@datum.Id">precipIntensity: @datum.precipIntensity</li>
						<li id="precipProbabilityDaily_@datum.Id">precipProbability: @datum.precipProbability</li>
						<li id="pressureDaily_@datum.Id">pressure: @datum.pressure</li>
						<li id="summaryDaily_@datum.Id">summary: @datum.summary</li>
						<li id="temperatureMaxDaily_@datum.Id">temperatureMax: @datum.temperatureMax</li>
						<li id="temperatureMinDaily_@datum.Id">temperatureMin: @datum.temperatureMin</li>
						<li id="timeDaily_@datum.Id">time: @time.ToString()</li>
						<li id="uvIndexDaily_@datum.Id">uvIndex: @datum.uvIndex</li>
						<li id="windBearingDaily_@datum.Id">windBearing: @datum.windBearing</li>
						<li id="windGustDaily_@datum.Id">windGust: @datum.windGust</li>
						<li id="windSpeedDaily_@datum.Id">windSpeed: @datum.windSpeed</li>
					</ul>
				</li>
			}
		</ul>
	</div>

	<div>
		<h2>Hourly Forecast</h2>
		<ul>
			@foreach (Datum datum in weatherReport.hourly.data)
			{
				DateTime time = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
				time = time.AddSeconds(datum.time).ToLocalTime();
				<li>
					<h3>Weather at @time.ToShortTimeString() for @location</h3>
					<ul>
						<li id="apparentTemperatureHourly_@datum.Id">apparentTemperature: @datum.apparentTemperature</li>
						<li id="cloudCoverHourly_@datum.Id">cloudCover: @datum.cloudCover</li>
						<li id="dewPointHourly_@datum.Id">dewPoint: @datum.dewPoint</li>
						<li id="humidityHourly_@datum.Id">humidity: @datum.humidity</li>
						<li id="iconHourly_@datum.Id">icon: @datum.icon</li>
						<li id="ozoneHourly_@datum.Id">ozone: @datum.ozone</li>
						<li id="precipIntensityHourly_@datum.Id">precipIntensity: @datum.precipIntensity</li>
						<li id="precipProbabilityHourly_@datum.Id">precipProbability: @datum.precipProbability</li>
						<li id="pressureHourly_@datum.Id">pressure: @datum.pressure</li>
						<li id="summaryHourly_@datum.Id">summary: @datum.summary</li>
						<li id="temperatureHourly_@datum.Id">temperature: @datum.temperature</li>
						<li id="timeHourly_@datum.Id">time: @time.ToString()</li>
						<li id="uvIndexHourly_@datum.Id">uvIndex: @datum.uvIndex</li>
						<li id="windBearingHourly_@datum.Id">windBearing: @datum.windBearing</li>
						<li id="windGustHourly_@datum.Id">windGust: @datum.windGust</li>
						<li id="windSpeedHourly_@datum.Id">windSpeed: @datum.windSpeed</li>
					</ul>
				</li>
			}
		</ul>
	</div>
}
else
{
	Session.Remove("query"); // query isn't being displayed
}

@if (User.Identity.IsAuthenticated && Session["query"] != null)
{
	using (Html.BeginForm("Create", "Weather", FormMethod.Post, query))
	{
		@Html.AntiForgeryToken();

		<input type="submit" value="Save Data" class="btn btn-primary" />
	}
}